<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finlog</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <!--top nav bar-->
    <header class="navbar">
        <div class="navbar__brand">
        <img class="navbar__logo" src = "/static/logo_vector.svg" alt="The Dolphin Tide Logo"/>Finlog
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
            
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Add new entry</h1>
            <form class="form" action="/" method="POST">
                <p class="form__input">
                    <textarea class="form__textarea" name="content" id="entry" area-label="Entry contents" placeholder="Dive into your journal!"></textarea>
                </p>
                <button class="form__submit" type="submit">Save
                    <span class="material-symbols-outlined">
                        waves
                    </span>
                </button>
                
            </form>
        </section>
        <section>
            <h1>Recent Posts</h1>
            <article class="entry">
                <div>
                    <h2 class="entry__title">Entry title</h2>
                    <time class="entry__date" datetime="02-03-2024">Mar 2</time>
                    <p class="entry__content">Entry 1</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a href="#" class="footer__item">Made by Waves & Palm Trees Co</a>
                <a href="#" class="footer__item">Other projects made by creator</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a href="#" class="footer__item">Recent</a>
                    <a href="#" class="footer__item">Calendar</a>
                </div>
                <div class="footer__column">
                    <a href="#" class="footer__item">About</a>
                    <a href="#" class="footer__item">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>